# .editorconfig
# .editorconfig 文件的权限
root = true

[*]
# 缩进类型：tab/space
indent_style = space
# 行尾符
# windows每行结尾“\r\n”,mac
# Mac OS在 OS X以前每行结尾是"\r"，现在每行结尾是 "\n"
# Unix每行结尾为"\n"
# CR:回车 LF:换行
end_of_line = lf
charset = utf-8
# 自动去除最后面的空格
trim_trailing_whitespace = true
# 最后面自动添加空白行
insert_final_newline = true

[*.html]
indent_size = 2

[*.scss]
indent_size = 2

[*.js]
indent_size = 2

[*.jsx]
indent_size = 2

[*.ts]
indent_size = 2

[*.tsx]
indent_size = 2

[Makefile]
indent_style = tab
trim_trailing_whitespace = false